:root {
  --dark-cyan: 158, 36%, 37%;
  --cream: 30, 38%, 92%;
  --very-dark-blue: 212, 21%, 14%;
  --dark-grayish-blue: 228, 12%, 48%;
  --white: 0, 0%, 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  margin-inline: auto;
  font-family: system-ui, sans-serif;
  font-size: 0.875rem;

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}
