:root {
  --dark-cyan: 158, 36%, 37%;
  --cream: 30, 38%, 92%;
  --very-dark-blue: 212, 21%, 14%;
  --dark-grayish-blue: 228, 12%, 48%;
  --white: 0, 0%, 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 375px;
  margin-inline: auto;
  padding-inline: 1rem;
  background-color: hsl(var(--cream));
  font-size: 0.875rem;
  color: hsl(var(--dark-grayish-blue));

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}

img {
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
}
