.main {
  border-radius: 0.5rem;
  overflow: hidden;

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 37.5rem;
  }
}

.image {
  height: 15rem;

  @media (min-width: 800px) {
    height: 100%;
  }
}

.body {
  padding: 1.75rem;
  background-color: hsl(var(--white));

  & > * + * {
    margin-top: 1rem;

    @media (min-width: 800px) {
      margin-top: 1.75rem;
    }
  }

  & .category {
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  & .title {
    margin-top: 0.5rem;
    font-size: 1.95rem;
    color: hsl(var(--very-dark-blue));
    font-weight: 700;
    line-height: 1;

    @media (min-width: 800px) {
      margin-top: 1rem;
    }
  }
  & > .content {
    line-height: 1.65;
  }
  & > .price {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > .new {
      color: hsl(var(--dark-cyan));
      font-size: 1.95rem;
      font-weight: 700;
    }
    & > .old {
      text-decoration-line: line-through;
    }
  }
  & > .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: hsl(var(--dark-cyan));
    color: hsl(var(--white));
    font-weight: 700;
    transition: background-color 100ms ease-in;

    &:hover {
      background-color: hsl(var(--very-dark-blue));
    }
  }

  @media (min-width: 800px) {
    padding: 2rem;
  }
}
