.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  & a {
    color: hsl(var(--dark-cyan));
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
